html,
body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

#drag-region {
  height: 30px;
  width: 400px;
  -webkit-app-region: drag;
  background-color: #32363f;
}
.good-score {
  color: lime;
}
.normal-score {
  color: yellow;
}
.bad-score {
  color: red;
}
